{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="parent_id" id="parent_id">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<script>
document.querySelectorAll('.reply').forEach(button => {
    button.addEventListener('click', function() {
        document.getElementById('parent_id').value = this.dataset.id;
    });
});
</script>
{% endblock %}
